html {
  font-size: 100%; //lets the user control the zoom level in their browser
  box-sizing: border-box; //makes the size of the elements include padding and border width in the final width
  // position: relative;
}

*, *::after, *::before {
  box-sizing: inherit;
  color: $white;
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

button {
  font-family: 'Iceberg', 'sans-serif';

  &:hover {
    background-color: $white;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Jaldi', sans-serif;
  font-weight: 300;
  background-color: $darkNavyBlue;
  line-height: 1.3;
  overflow-x: hidden;
  font-size: 1.875rem; 
  letter-spacing: 0.05em;
  min-height: 100vh;
  // @include breakpoint-up(medium) {
  //   font-size: $font-med;
  // }
  
  // Center
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: 'Iceberg', 'sans-serif';
  color: $vividSkyBlue;

  & span { //h1
    color: $redSalsa;
  }
}

.flex {
  display: flex;

  &-dir-col {
    flex-direction: column;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.footer {
  width: 100%; //https://stackoverflow.com/questions/25671073/footer-below-content-but-not-floating-mid-air-if-not-enough-content
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;

  & p, a{
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.1);

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

  }
}

.vividSBOutline {
  @include stroke($vividSkyBlue, .0625rem);
}

.redSalsaOutline {
  @include stroke($redSalsa, .0625rem);
}