.main-page {
  position: absolute;
  width: 881px;
  height: 125px;
  left: 251px;
  top: 551px;


  & h1 {
    font-size: 5rem;
  }
}

.start-game {
  width: 442px;
  height: 81px;
  background: $salmon;
  border: 10px solid $redSalsa;
  border-radius: 25px;
  font-size: 2.1875rem;
  margin-top: 5rem;
  @include stroke($redSalsa, .125rem);

  &:hover {
    @include stroke($vividSkyBlue, .125rem);
    border-color: $vividSkyBlue;
    background-color: $skyBlue;
    transition: all 200ms ease-in-out;
  }
}