// Colors
$darkNavyBlue: hsl(208, 100%, 17%);
$vividSkyBlue: hsl(196, 87%, 61%);
$skyBlue: hsl(192, 89%, 66%);
$salmon: hsl(10, 84%, 71%);
$redSalsa: hsl(0, 85%, 63%);
$white: hsl(0, 0%, 100%);

// Font sizes
